<div class="container mt-2">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <button class="btn btn-success" type="button" (click)="conectar()" *ngIf="!conectado">
                                Conectar
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-danger" type="button" (click)="desconectar()" *ngIf="conectado">
                                Cerrar chat
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="card-body" *ngIf="conectado">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-light" *ngFor="let mensaje of mensajes">
                    {{mensaje.fecha | date:'shortTime'}}: {{mensaje.texto}}
                </li>
            </ul>
        </div>
        <div class="card-footer" *ngIf="conectado">
            <form class="form-inline">
                <div class="row">
                    <div class="col-lg-10 mt-2 mb-2">
                        <input type="text" class="form-control" placeholder="Escribe un mensaje..." name="texto"
                            [(ngModel)]="mensaje.texto" />
                    </div>
                    <div class="col-lg-2 mt-2 mb-2">
                        <button class="btn btn-primary w-100" type="submit" (click)="enviarMensaje()">
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>