<div class="container mt-2">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item me-2">
                                <button class="btn btn-success mt-2" type="button">Conectar</button>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-danger mt-2" type="button">Cerrar chat</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="card-body"></div>
        <div class="card-footer">
            <form class="form-inline">
                <div class="row">
                    <div class="col-lg-10 mt-2 mb-2">
                        <input type="text" class="form-control" placeholder="Escribe un mensaje..." name="texto">
                    </div>
                    <div class="col-lg-2 mt-2 mb-2">
                        <button class="btn btn-primary w-100" type="submit">Enviar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>